[Unit]
Description=HRMS FastAPI Backend Service
After=network.target

[Service]
User=deploy
WorkingDirectory=/var/www/meagle360-hrms/backend
ExecStart=/var/www/venv/bin/uvicorn app.main:app --host 127.0.0.1 --port 8015
Restart=always

[Install]
WantedBy=multi-user.target
