[Unit]
Description=HRMS FastAPI Backend Service
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/var/www/hrms/backend
ExecStart=/var/www/hrms/backend/venv/bin/uvicorn app.main:app --host 127.0.0.1 --port 8015
Restart=always

[Install]
WantedBy=multi-user.target
